/* ==========================================================================
   DARK MODE ICON
   ========================================================================== */

.darkmode-toggle {
  padding: 0 0.90625rem 0 0;
  position: fixed;
  right: 0;
  margin: 1.8125rem 0;
  z-index: 101;
  transition: $global-transition;
  visibility: hidden;
  cursor: pointer;
}

.darkmode-switch-is-visible {
  transform: translateY(4rem);
  transform-origin: top;
  visibility: visible;
}

.darkmode-icon {
  border: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: $global-transition;
  height: 2rem;
  width: 2rem;
}

