---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

@import "basically-basic";

// TODO move custom CSS into proper files
// css for photo gallery
.image-gallery {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    column-count:2;
    column-gap: 0px;
    justify-content: center;
    padding: 4px;

    @include breakpoint($medium) {
        width:95%;
        column-count:3
    }
    @include breakpoint($large) {
        column-count:4
    }
    @include breakpoint($xlarge) {
        width:90%;
    }
}
.image-box {
    display: flex;
    position: relative;
	flex-basis: 25%;
	width: 100%;
	padding: 4px;
	margin: 2px;
    @include breakpoint($medium) {
        padding: 6px;
    }
    @include breakpoint($large) {
        padding: 8px;
    }
    @include breakpoint($xlarge) {
        padding: 10px;
    }
}
.card-info {
    position: absolute;
    z-index: 3;
    pointer-events: none;
    padding: 0 30px 32px;
    display: block;
    bottom: 0;
    width: calc(100% - 8px);
    @include breakpoint($medium) {
        width: calc(100% - 12px);
    }
    @include breakpoint($large) {
        width: calc(100% - 16px);
    }
    @include breakpoint($xlarge) {
        width: calc(100% - 20px);
    }
    text-align: center;
    opacity: 0;
    transition: transform .4s cubic-bezier(.165,.85,.45,1),opacity .4s cubic-bezier(.165,.85,.45,1);
    transform: translate3d(0,10%,0);
}
.image-box:hover .card-info {
    opacity: 1;
    transform: translateZ(0);
    transition: transform .4s cubic-bezier(.165,.85,.45,1) .2s,opacity .4s cubic-bezier(.165,.85,.45,1) .2s;
}
.img-gallery {
    position: relative;
    display: block;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    z-index: 1;
	transition: all 0.4s ease-in-out;
}
.img-gallery:hover {
   transform: scale(1.05);
   z-index:2;
   // box-shadow: 0px 0px 10px 5px rgba(8, 133, 145, 0.67);
   transition: all 0.4s ease-in-out;
}
.img-gallery::before,
.img-gallery::after {
    background: linear-gradient(360deg,#1495a7,rgba(0,54,135,.2) 90%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
}
.img-gallery:hover::before,
.img-gallery:hover::after {
    opacity: 0.8;
    visibility: visible;
}

// For images in the git blog
img.blog-git-1 {
    max-width: 1000px;
    max-height: 120px;
    @include breakpoint($small) {
        max-height: 140px;
    }
    @include breakpoint($medium) {
        max-height: 210px;
    }
    @include breakpoint($large) {
        max-height: 200px;
    }
}
img.blog-git-2 {
    max-width: 1000px;
    max-height: 200px;
    @include breakpoint($small) {
        max-height: 240px;
    }
    @include breakpoint($medium) {
        max-height: 320px;
    }
    @include breakpoint($large) {
        max-width: 100%;
    }
}
div.blog-git-img {
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: hidden;
}
