---
layout: page
---

{{ content }}

<ul class="taxonomy-index">
  {% assign categories_max = 0 %}
  {% for category in site.categories %}
    {% if category[1].size > categories_max %}
      {% assign categories_max = category[1].size %}
    {% endif %}
  {% endfor %}
  {% for i in (1..categories_max) reversed %}
    {% for category in site.categories %}
      {% if category[1].size == i %}
        <li>
          <a href="#{{ category[0] | slugify }}">
            <strong>{{ category[0] }}</strong> <span class="taxonomy-count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

{% assign categories_max = 0 %}
{% for category in site.categories %}
  {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}

{% for i in (1..categories_max) reversed %}
  {% for category in site.categories %}
    {% if category[1].size == i %}
      <section id="{{ category[0] | slugify | downcase }}" class="taxonomy-section">
        <h2 class="taxonomy-title">
          <a href="/{{ category[0] | slugify | downcase }}">{{ category[0] }}</a>
        </h2>
        <div class="entries-{{ page.entries_layout | default: 'list' }}">
          {% assign post_count = 1 %}
          {% assign maxed_out = false %}
          {% for post in category.last %}
            {% assign post_count = post_count | plus: 1 %}
            {% include entry.html %}
            {% if post_count > 3 %}
              {% assign maxed_out = true %}
              {% break %}
            {% endif %}
          {% endfor %}
        </div>
        {% if maxed_out == true %}
          <a class="btn" href="{{ category[0] | slugify | downcase }}">See more {{ category[0] | slugify | downcase }}...</a>
        {% endif %}
        <a href="#page-title" class="back-to-top">{{ site.data.text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
  {% endfor %}
{% endfor %}
